In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('melb_data.csv')

y = data.Price

melb_predictors = data.drop(['Price'],axis=1)
X = melb_predictors.select_dtypes(exclude=['object'])

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


def score_dataset(x_train, x_test, y_train, y_test):
    model = RandomForestRegressor(n_estimators=10)
    model.fit(x_train,y_train)
    preds_val = model.predict(x_test)
    mae = mean_absolute_error(y_test,preds_val)
    return mae

# Dropeo

In [7]:
cols_with_missing = [col for col in x_train.columns if x_train[col].isnull().any()]

In [8]:
cols_with_missing

['Car', 'BuildingArea', 'YearBuilt']

In [10]:
reduced_x_train = x_train.drop(cols_with_missing, axis=1)
reduced_x_test = x_test.drop(cols_with_missing, axis=1)

print("MAE- Dropeo:")
print(score_dataset(reduced_x_train,reduced_x_test,y_train, y_test))

MAE- Dropeo:
191481.16902798234

# Llenando valores

In [15]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(x_train))
imputed_X_test = pd.DataFrame(my_imputer.transform(x_test))

imputed_X_train.columns = x_train.columns
imputed_X_test.columns = x_test.columns


print("MAE- Lleando de valores:")
print(score_dataset(imputed_X_train,imputed_X_test,y_train, y_test))

MAE- Lleando de valores:
181359.4260589803

In [14]:
x_train

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
3331,3,13.0,3166.0,3.0,1.0,1.0,562.0,97.0,1930.0,-37.9022,145.0811,3145.0
5176,2,11.2,3073.0,2.0,1.0,3.0,720.0,NaN,NaN,-37.7076,145.0170,21650.0
7521,3,13.9,3165.0,3.0,1.0,2.0,625.0,NaN,NaN,-37.9110,145.0750,10969.0
5592,2,3.3,3141.0,2.0,2.0,2.0,17200.0,NaN,2000.0,-37.8361,144.9966,14887.0
4796,2,3.8,3207.0,2.0,1.0,1.0,0.0,100.0,2000.0,-37.8424,144.9449,8648.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4673,3,9.9,3044.0,3.0,1.0,2.0,582.0,NaN,NaN,-37.7240,144.9333,7485.0
3972,3,8.7,3032.0,3.0,1.0,1.0,594.0,NaN,1940.0,-37.7804,144.8878,4918.0
4892,2,8.8,3072.0,2.0,1.0,3.0,581.0,96.0,1950.0,-37.7508,145.0209,14577.0
5665,4,3.3,3141.0,4.0,2.0,1.0,979.0,NaN,NaN,-37.8344,144.9857,14887.0
8220,2,9.9,3044.0,2.0,1.0,1.0,134.0,75.0,1988.0,-37.7216,144.9292,7485.0